#%Module########################################################################
##
## {{ module_name }} modulefile
##

proc ModulesHelp { } {
        global version

        puts stderr " {{ module_name }} module"
        puts stderr "   Version {{ module_version }}"
}

set name          {{ module_name }}
set version       {{ module_version }}
set base          {{ modules_path }}

module-whatis   "{{ module_name }} module {{ module_version }}"

prepend-path PATH {{ install_root }}/bin
prepend-path PYTHONPATH {{ python_path }}

